<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
  <title>About us page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    
	font-color: white;
	font-weight:900;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.team{
text-align: center;
font-size: 400%;
opacity:0.8;
}
.matolu{
text-align:center;
font-size: 200%;
}
</style>
  </head>

{% block content %}
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">UB_Liberator</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href=" {% url 'course_list' %} ">DashBoard</a></li>
     <li class="active"><a href="{% url 'aboutus' %}">About Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div>
<img src="{% static '/project/img/home-bg.jpg' %}" width="1600" height="600" />

<div class="centered"><h1 font-color="white"><strong><font size="15" font-color="white">Sharing is Learning</font></strong></h1>
<br>
<p align="center"><h3>UB_Liberator is built to help students share learning resources. You can download old hws, exams, code etc for CSE courses at UB. Furthermore you can upload similar files to share with other students.</h3></p>
</div>
<br>
<div id="rectangle" style="width:number px; height:number px; background-color:#ad3c5a">
<div class="team">Meet our team</div>
</div>

<div>
<div class="matolu">Kartikeya Shukla- Code Reviewer and UI/UX Designer</div>
<div class="matolu">Vighnesh Iyer- Front end developer -  responsible for the main dashboard page</div>
<div class="matolu">Joseph Reimer- Tester, Team Manager</div>
<div class="matolu">Brian Doyle- Full Stack Devloper(Data Engineer)</div>
<div class="matolu">Ryan Kittleson- Full Stack Developer</div>


</div>

<div id="rectangle" style="width:number px; height:number px; background-color:#90EE90">
<div class="team">Project Description</div>
</div>
<div>
<p align="center"><h3>From the Developers of UB_Liberator, bits_please-<br><br>

Our website UB_Liberator is designed to allow students, specifically CSE students at UB, to have access to another resource for class notes and materials they may have lost or not completed correctly. Through being able to search for files, and rate them through an upvote/downvote system, students can find the information they need to succeed to the best of their capabilities. Files uploaded by users are their own works and any transgressions of academic integrity or other code of conduct is not the fault of the developers, bits_please.
</h3></p>
</div>

<div id="rectangle" style="width:number px; height:number px; background-color:#6495ED">
<div class="team">Description for Users</div>
</div>

<div>
<p align="center"><h3>Please follow this link to our website-<br><a href="https://ubliberator3.pythonanywhere.com/login_user?next=/course_list"> https://ubliberator3.pythonanywhere.com/login_user?next=/course_list</a> . Upon creating an account, you will be taken to the main Dashboard page of our site, where you can begin to find the documents and pages you need to do the best that you can in your courses! The left side of the page holds the tools you need to browse through our current course list, view your previous downloads and uploads, and upload a document.</h3></p>
</div>

<div id="rectangle" style="width:number px; height:number px; background-color:#008080">
<div class="team">How to submit bug report</div>
</div>

<div>
<p align="center"><h3>If you experience any troubles while using our site, bugs can be reported at our GitHub repository at <a href="https://github.com/briandoyle89/CSE442_MVP/issues"> https://github.com/briandoyle89/CSE442_MVP/issues</a> . The more information you can provide about the problems you encounter, the better we can solve them and create a more positive user experience for all users.</h3>
</div>

<div id="rectangle" style="width:number px; height:number px; background-color:#df633a">
<div class="team">Instructions suitable for a non-technical user(For the needy)</div>
</div>

<div>
<p align="center"><h3>"Project Description" provided in minute  details<br>To Register:<br>
Press the button on the left side of the screen “Don’t Have an Account? Click Here.” to be taken to a screen where a valid format of email, a username that hasn’t been taken yet, and a password that is not blank, can be entered into their corresponding boxes to the left of their texts (Email, Username, and Password) and after using the keyboard to type your responses and clicking submit, your account is created.
<br><br>
To Download:<br>
After logging into the site, you can view on the dashboard the classes CSE115 and CSE442, and their corresponding buttons “Choose This Class” below them. By clicking on their respective “Choose This Class” buttons, the list of materials for the course available for download can be seen. Then, by navigating down the list of file names and their respective “Download this File” buttons, files can be found, and clicking the “Download this File” button, begins the download. 
<br><br>
To Upload:<br>
After logging into the site, and being taken to the Dashboard automatically, you can click on the button on the left navigation bar titled “Upload a DOCUMENT” and after clicking into the box to the right of “File name:” and entering information for a file name, choosing a course, and choosing a file, one can click upload to upload the file to the specified course.
<br><br>
To Search Files By Class:<br>
Once you have logged in and are taken to the Dashboard, you can select from a drop down menu button labelled Select Course, the course you wants the study materials for. Once you’ve selected the course and clicked the search button, all the files associated with that course will be populated on the screen, and can then be downloaded.
</h3></p>





</div>

</body>

{% endblock %}
</html>
