<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
  <title>About us page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    
	font-color: white;
	font-weight:900;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.team{
text-align: center;
font-size: 400%;
opacity:0.8;
}
.matolu{
text-align:center;
font-size: 200%;
}
</style>
  </head>

{% block content %}
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">UB_Liberator</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href=" {% url 'course_list' %} ">DashBoard</a></li>
     <li class="active"><a href="{% url 'aboutus' %}">About Us</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<div>
<img src="{% static '/project/img/home-bg.jpg' %}" width="1600" height="600" />

<div class="centered"><h1 font-color="white"><strong><font size="15" font-color="white">Sharing is Learning</font></strong></h1>
<br>
<p align="center"><h3>UB_Liberator is built to help students share learning resources. You can download old hws, exams, code etc for CSE courses at UB. Furthermore you can upload similar files to share with other students.</h3></p>
</div>
<br>
<div id="rectangle" style="width:number px; height:number px; background-color:#ad3c5a">
<div class="team">Meet our team</div>
</div>

<div>
<div class="matolu">Kartikeya Shukla- Code Reviewer and UI/UX Designer</div>
<div class="matolu">Vighnesh Iyer- Front end developer -  responsible for the main dashboard page</div>
<div class="matolu">Joseph Reimer- Tester, Team Manager</div>
<div class="matolu">Brian Doyle- Full Stack Devloper(Data Engineer)</div>
<div class="matolu">Ryan Kittleson- Full Stack Developer</div>


</div>




</div>

</body>

{% endblock %}
</html>
