<!DOCTYPE html>
<html>
<style>
#grad1 {
    height: 800px;
    background-color: #cccccc;
    background-image: linear-gradient(#93a5cf, #e4efe9);
}

#grad2{
    background-color:  #e6e6ff;
    width: max-content;
    border-style: double;
    border-color: #9999ff;
    border-width: 5px;
    padding: 15px;
    margin: 15px;
}

#grad3{
    font-family: 'Graduate';
}

#grad4{
    padding-left: 200px;
}	

</style>
<head>
    {% load static %}
	<title></title>
	 <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='https://fonts.googleapis.com/css?family=Graduate' rel='stylesheet'>
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
    {% block content %}
        <body id = "grad1">

            <!--Navigation Bar  begins-->
                <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">UB_Liberator</a>
                    </div>
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="#">Dashboard</a></li>
                     <li><a href=" {% url 'aboutus' %} ">About Us</a></li>
                      <!--<li><a href="#">Contact</a></li> -->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
		      <li><a href="{% url 'logout_view' %}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                    </ul>
                  </div>
                </nav>
            <!-- Nav bar ends -->

            <!-- Profile pic bakchodi begins -->

            <div class="container-fluid">
              <div class="row">
                    <div class="col-sm-2">
			<div id="grad2">    
                      <center><img src="{% static 'project/img/cartoon.jpg' %}" class="img-circle" alt="Profile Picture" style="padding-left: auto; padding-top: 20px; padding-right: auto"></center><br>
		     <div id = "grad3"> <center><h3 style="padding-left: auto;">{{ user.username }}</h3></center></div>
                      <!--<a id="sidebar-edit-profile-btn" href="#/profile" class="ajax_navigation" data-ch-track-tab-change="" data-name="User Profile" style="padding-left: 70px;">Edit Profile</a><br><br> -->

                      <ul class="nav nav-pills nav-stacked">
                          <li class="active"><a href=" {% url 'course_list' %}">Home</a></li>
                          <li><a href="{% url 'my_downloads' %}">My Downloads</a></li>
                          <li><a href="{% url 'my_uploads' %}">My Uploads</a></li>
                          <li><a href="{% url 'file_upload' %}">Upload a DOCUMENT</a></li>
                          <li>
                              <form id="search-form" method="post" action="{% url 'file_search' %}">
                                  {% csrf_token %}
                                <input name="search" id="search" placeholder="Search For Anything">
                                 <input type="submit" value="Search">
                              </form>
                          </li>
                      </ul>
			    </div>
                    </div>
                    <div class="col-sm-10">
                     <center><h1> Welcome to {{ course_name }}</h1> </center>
                <!--      <div class="btn-group btn-group-justified">
                             <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Select Your Subject <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">CSE</a></li>
                                  <li><a href="#">PHY</a></li>
                                  <li><a href="#">MTH</a></li>
                                </ul>
                             </div>
                             <div class="btn-group">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                Select Your Course Number <span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#">115</a></li>
                                  <li><a href="#">116</a></li>
                                  <li><a href="#">107</a></li>
                                  <li><a href="#">108</a></li>
                                  <li><a href="#">250</a></li>
                                </ul>
                             </div>
                            <div class="btn-group">
                                <a href="#" class="btn btn-primary">SEARCH</a>
                            </div>

                      </div> -->
			 <div id = "grad4">   
                        <div id="course_box" style="display: inline">
                          {% for similar_file in similar_files %}
                              <div id="course_div" style="height:200px; width: 300px; margin: 10px">
                                  <form action="{% url 'download' file_chosen=similar_file.file_link %}">
                                      {% csrf_token %}
                                    <p>{{ similar_file.file_name }}</p>
                                    <p>Score: {{ similar_file.votes }}</p>
                                  <input id="status">
                                  <label for="status">
                                      {% for vote in user_votes %}
                                      {% if vote.user == user and vote.file == similar_file and vote.vote_type == 'up' %}
                                      You Upvoted This.
                                      {% elif vote.user == user and vote.file == similar_file and vote.vote_type == 'down' %}
                                      You Downvoted This.
                                      {% else %}
                                      {% endif %}
                                      {% endfor %}
                                  </label>
                                    <p>{{ similar_file.course }}</p>
                                      <button>
                                          Download this File
                                      </button>
                                  </form>
                              <form method="post" action="{% url 'upvote' file_chosen=similar_file.id %}">
                              {% csrf_token %}
                                    <input class="hidden" name="course_is" id="course_is" value="{{ course_name }}">
                                <button>
                                      Upvote
                                </button>
                              </form>
                              <form method="post" action="{% url 'downvote' file_chosen=similar_file.id %}">
                              {% csrf_token %}
                                    <input class="hidden" name="course_is" id="course_is" value="{{ course_name }}">
                                <button>
                                      Downvote
                                </button>
                              </form>
                              </div>
                          {% endfor %}
                        </div>

                              <p><a href="{% url 'course_list' %}">Return to Courses</a></p>
                      </div>
                    </div>
		    </div>
                </div>

        </body>
    {% endblock %}
</html>


